.user-dropdown:hover {
    cursor: pointer;
}

.user-dropdown:hover {
    cursor: pointer;
}

.user-dropdown-content {
    display: none;
    position: relative;
    top: 2em;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
    cursor: pointer;
}