.likes-main {
    width: 60em;
    height: auto;
    position: relative;
    left: 16em;
    top: 5.5em;
}

.likes-title {
    font-size: 53px;
    font-weight: 700;
    color: #1E0A3B;
}

.events-container {
    position: absolute;
    top: 5.5em;
    height: auto;
    width: 60em;
}

.liked-event-tile {
    border: .1px solid #f3f3f3;
}

.liked-event-tile {
    position: relative;
    height: 12em;
    width: 60em;
    margin-bottom: 1em;
    transition: box-shadow 200ms ease-in-out
}

.liked-event-tile:hover {
    box-shadow: 0 0 4px grey;
}

.liked-event-tile div {
    position: absolute;
}

.liked-event-tile-left {
    left: 1em;
}

.liked-event-tile-right {
    right: 1em;
}

.liked-event-tile-title {
    top: .7em;
    height: 2em;
    width: 30em;
    font-size: 18px;
    font-weight: 500;
}

.liked-event-tile-title a{
    color: #38364F;
}

.liked-event-tile-timestanp {
    top: 3.5em;
    height: 1em;
    width: 20em;
    left: 1.2em;
    font-size: 14px;
    font-weight: 500;
    color: #d1420a;
}

.liked-event-tile-location {
    top: 5em;
    height: 1em;
    width: 20em;
    font-size: 13;
    color: grey;
}

.liked-event-tile-photo {
    position: relative;
    top: .7em;
    height: 6.8em;
    width: 14em;
    border: 1px dotted black;
}

.liked-event-tile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.liked-event-heart-like {
    bottom: .9em;
    border: 1px solid grey;
    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.liked-event-heart-like:hover {
    background-color: #f3f3f3;
    cursor:pointer;
}

.liked-event-heart-like svg {
    position: absolute;
    top: .5em;
    left: .5em;
    fill: grey;
    transform: scale(.7)
}

.liked-event-heart-like svg:hover {
    transform: brightness(1.1);
    cursor:pointer;
}

#fa-heart-empty {
    height: 28px;
    width: 28px;
    fill: grey;
}

#fa-heart-filled {
    fill: #D1420A;
}

.liked-events-empty-heart {
    transform: scale(1.5);
    top: -.2em;
    left: -.1em;
}

.liked-events-filled-heart {
    transform: scale(1.7);
    top: -.35em;
    left: -.3em;
}

.liked-events-empty-heart {
    transform: scale(1);
    top: -.02em;
    left: 0em;
}

.liked-event-tile {
    border: .1px solid #f3f3f3;
}

.liked-event-tile {
    position: relative;
    height: 12em;
    width: 60em;
    margin-bottom: 1em;
    transition: box-shadow 200ms ease-in-out
}