a {
    text-decoration: none;
}

#main-navigation {
    height: 5.5em;
    font-family: 'Neue Plak';
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    opacity: 1;
    z-index: 2;
}

.navbar-container {
    width: 100%;
    height: 5.5em;
    background-color: white;
    position: sticky;
    opacity: 1;
    z-index: 1;
}

.navbar-ul {
    display: block;
    list-style-type: none;
    width: 100%
}

.navbar-ul li {
    height: 5.5em;
}

.nav-left {
    float: left;
    position: relative;
}

.nav-right {
    float: right;
}

#eblogo-nav {
    background-image: url('https://cdn.evbstatic.com/s3-build/prod/1322331-rc2023-07-24_16.04-5e36c7c/django/images/logos/eb_orange_on_white_1200x630.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 9em;
    height: 5em;
    margin: none;
    overflow: hidden;
    position: relative;
    left: 0em;
    z-index: 2;
}

#search-events {
    width: 12em;
    height: 2em;
    position: relative;
    top: .8em;
    left: 2em;
    padding: .5em 24em .5em 2em;
    font-size: 14px;
    font-weight: 410;
    background: #F8F7FA;
    color: #A9A8B3;
}

#search-events #magnifying-glass {
    width: 24px;
    height: 24px;
    fill: #a9a8b3;
    position: relative;
    top: .5em;
    left: -1em;
}

#search-text {
    position: relative;
    bottom: 1em;
    left: 1em;
}

#search-text text {
    text-decoration: none !important;
    color: #A9A8B3 !important;
}

.navbar-ul li:hover {
    cursor: pointer !important;
}

.nav-right span {
    position: relative;
    top: 2.4em;
    height: 4.5em;
    padding: 1em 1.3em 2em .7em;
    margin-left: 1em;
    margin-right: .5em;
    margin-bottom: none;
}

.nav-right a {
    text-decoration: none;
    color: #38364F;
    font-size: 14px !important;
    font-weight: 410;
}

#create-event-in {
    color: #3E64FF !important;
}

#user-dropdown:hover .dropdown-content {
    height: auto;
    width: 18em;
    display: block;
    position: absolute;
    right: -.5em;
    top: 3.55em;
    z-index: 1;
    box-shadow: 0px 0px 3px 0em lightgray;

    cursor: pointer;

    background: white;
    font-size: 15px;
    font-weight: 400;
    color: rgb(107, 107, 107);
}

#hidden {
    display: none;
}

#user-dropdown {
    height: 6em;
    position: relative;
    right: .5em;
}

#user-dropdown svg {
    position: absolute;
    top: .8em;
    right: -.5em;
}

.dropdown-content {
    display: none;
}

.dropdown-content:hover li {
    max-height: 3.3em;
    padding: 0em 1em .5em 1em;
    margin: none;
    color: rgb(30, 30, 30);
}

svg {
    height: 28px;
    width: 28px;
    fill: rgb(30, 30, 30);
    position: absolute;

}

#plus-sign {
    fill: #3E64FF !important;
    position: absolute;
    bottom: 3.2em;
    right: 3em;
}

#heart {
    position: absolute;
    fill: #38364F;
    bottom: 3.2em;
    left: .8em;
}

#ticket {
    position: absolute;
    fill: #38364F;
    bottom: 3.2em;
    left: 1.4em;
}

.navbar-in-fullscreen-hr {
    display: block;
    width: 100%;
    height: 0px;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    opacity: .3;
    position: relative;
    z-index: 10;
    bottom: 1em;
    left: -5em;
    margin: none;
  }
