#main-navigation {
    height: 40px;
    margin-bottom: 2.3em;
}

.navbar {
    display: inline;
    list-style-type: none;
}

li span {
    padding: 2em;
    margin: 1em;
}

.nav-left {
    float: left;
    position: relative;
}

.nav-right {
    float: right;
}

#eblogo-nav img {
    width: 140px;
    height: auto;
    position: relative;
    top: 0;
    left: -1.6em;
    z-index: 12;
}

li:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    cursor: pointer;
    display: block;
}

.dropdown-content {
    display: none;
}