#main-navigation {
    height: 40px;
}

.navbar {
    display: inline;
    list-style-type: none;
}

li span {
    padding: 2em;
    margin: 1em;
}

.left {
    float: left;
    position: relative;
}

.right {
    float: right;
}

#eblogo-nav img {
    width: 140px;
    height: auto;
    position: relative;
    top: 0;
    left: -1.6em;
    z-index: 12;
}