section {
    /* font-family: 'Neue Plak' !important; */
    font-weight: thin;
}

.h1-default {
    position: relative;
    top: 0px;
    padding-top: 50px;
    height: 50px;
    width: 500px;
    color: black;
}

.create-event-section-division-hr {
  display: block;
  position: relative;
  margin-top: 2.8em; margin-bottom: 2.8em;
  left: -37em;
  width: 54%;
  height: 1px;
  border: 0;
  border-top: 1px solid #bdbdbd;
  opacity: .3;
}

#basic-info-location-division-hr {
  top: 4em;
}

#location-date-division-hr {
  top: 6em;
}

#back-to-organized-events a {
    color: #3E64FF !important;
    text-decoration: none !important;
    font-family: 'Neue Plak';
    font-weight: 500;
    font-size: 14px;
    /* width: 1000px; */
    /* border: 1px solid grey; */
    height: 50px;
    position: relative;
    left: 33.5em;
    bottom: 2em;
}

#chevron-left-chunky_svg__eds-icon--chevron-left-chunky_svg {
  height: 28px;
  width: 28px;
  fill: #3E64FF !important;
  transform: scale(.9);
  position: absolute;
  right: 3em;
  top: -.6em;
}

.centered-create-event {
  position: relative;
  left: 33.7%;
  top: -1.3em;
  font-family: 'Neue Plak';
  margin-bottom: 10em;
  /* transform: translate(-50%, -50%); */
  /* text-align: center; */
}

#basic-info-description-box {
  position: relative;
}

#basic-info-description-box svg {
  position: absolute;
  height: 28px;
  width: 28px;
  left: -4.5em;
  top: .5em;
  fill: rgb(213, 211, 211);
  transform: scale(1.7)
}

.active-div {
  box-shadow: 0 0 0 .5px #1b31db;
}

#basic-info-h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: .2em;
}

#basic-info-p-container {
  font-size: 14.5px;
  font-weight: 400;
  line-height: 1.3em;
  color: #38364F;
  width: 38em;
}

.create-event-field-box {
  position: relative;
  width: 45em;
  height: 3.1em;
  border: 1px solid #dbdae2;
  box-sizing: border-box;
  padding: 5px !important;
  border-radius: 2px;
  margin-top: 1em;
}

.create-event-field-box:hover {
  border: 1px solid #bab8c7;
  cursor: text;
}

.create-event-field-text {
  position: absolute;
  box-sizing: content-box;
  float: left;
  z-index: 1;
  left: 1em;
  top: .6em;
  font-size: .8em;
  font-weight: 500;
  /* COLOR WHEN ERROR: color: #c6162e; */
  color: #6F7386;
  transition: none;
}

.create-event-field-input:focus {
  top: -1.9em !important;
  left: .35em !important;
}

.active-field {
  top: .55em;
  left: .95em;
  color: #1b31db !important;
}

.create-event-field-input-box {
  display: block;
  width: 40em;
  position: relative;
  top: 1.6em;
}

.create-event-field-input {
  position: absolute;
  left: .4em;
  bottom: .5em;
  width: 40em;
  border: 1px solid none;
  color: black;
}

.create-event-field-input::placeholder {
  color: rgb(169, 168, 168);
}

.create-event-organizer-box {
  position: relative;
  width: 45em;
  height: 3.1em;
  border: 1px solid #dbdae2;
  box-sizing: border-box;
  border-radius: 2px;
  /* padding: 1em; */
  margin-top: 1em;
  margin-bottom: 1em;
}

.create-event-field-organizer-input {
  position: absolute;
  left: .8em;
  bottom: .1em;
  width: 40em;
  border: 1px solid none;
  color: black;
}

.create-event-field-organizer-input::placeholder {
  color: rgb(169, 168, 168);
}

.create-event-field-organizer-input:focus {
  top: -1.45em !important;
  left: .75em !important;
}

input {
  border: none;
}

input:focus {
  outline: none;
}


#event-type-dropdown {
  position: absolute;
  width: 18em;
  height: 3.6em;

  border: 1px solid #dbdae2;
  box-sizing: border-box;
  padding: 10px !important;
  border-radius: 2px;
  margin-top: 1em;
}

#event-category-dropdown {
  position: absolute;
  width: 18em;
  height: 3.6em;
  top: 15.4em;
  left: 19em;
  border: 1px solid #dbdae2;
  box-sizing: border-box;
  padding: 10px !important;
  border-radius: 2px;
  margin-top: 1em;
}

.location-description-box {
  position: relative;
  top: 5em;
}

#location-h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: .2em;
}

#location-p-container {
  font-size: 14.5px;
  font-weight: 400;
  line-height: 1.3em;
  color: #38364F;
  width: 38em;
}

#map_svg {
  height: 28px;
  width: 28px;
  position: absolute;
  left: -4.5em;
  top: .5em;
  fill: rgb(213, 211, 211);
  transform: scale(1.7)
}

#create-event-venue-box {
  position: relative;
  top: 5em;
}

#create-event-venue-input-box {
  position: absolute;
  top: 2.4em;
  left: 2.9em;
}

#create-event-venue-input {
  display: block;
  width: 45em;
}

#magnifying-glass-venue {
  fill: grey !important;
  transform: scale(.9);
  position: absolute;
  top: -1.8em;
  left: -2em;
}

#date-and-time {
  position: relative;
  top: 8em;
}

#calendar_svg {
  height: 28px;
  width: 28px;
  position: absolute;
  left: -4.5em;
  top: .5em;
  fill: rgb(213, 211, 211);
  transform: scale(1.7)
}

.event-start-box {
  position: relative;
  width: 40em;
  height: 5em;
}

.timestamp-button {
  cursor: pointer;
  position: absolute;
  height: 3.1em;
  width: 22em;
  border: 1px solid #dbdae2;
  background: none;
  box-sizing: border-box;
  padding: 10px !important;
  border-radius: 2px;
  margin-top: 1em;
}

.event-start-time-button {
  left: 22.5em;
}

.event-end-time-button {
  left: 22.5em;
}

#small_calendar_svg {
  position: absolute;
  transform: scale(.9);
  fill: #38364F;
}



.event-date-text {
  position: absolute;
  box-sizing: content-box;
  float: left;
  z-index: 1;
  top: .6em;
  font-size: .8em;
  font-weight: 500;
  left: 4.2em;
  /* COLOR WHEN ERROR: color: #c6162e; */
  color: #757581;
  transition: none;
}

.event-date-value {
  position: absolute;
  top: 1.5em;
  left: 3.55em;
  font-size: 15px;
  font-weight: 500;
  color: #525151
}

.event-time-text {
  position: relative;
  left: 1em;
  z-index: 6;
  color: #757581;
  font-size: .8em;
  font-weight: 500;
}

.event-time-value {
  position: relative;
  left: .75em;
  top: .25em;
  font-size: 15px;
  font-weight: 500;
  color: #525151
}

.calendar-box {
  position: absolute;
  width: 20em;
  top: 3.5em;
  left: 0em;
  z-index: 3;
  background: white;
}

.event-start-time-input-box {
  position: absolute;
  left: 20em;
  height: 3.6em;
  width: 18em;
  border: 1px solid #dbdae2;
  box-sizing: border-box;
  padding: 10px !important;
  border-radius: 2px;
  margin-top: 1em;
}


.event-start-times-dropdown {
  cursor: pointer;
  position: absolute;
  top: 4em;
  left: 0em;
  z-index: 6;
  background: white;
  width: 26.35em;
  box-shadow: 0px 0px 3px silver;
  border: 1px solid #A9A8B3;
}

.event-start-times-dropdown option {
  background: white;
  width: 26.35em;
}

.event-start-times-dropdown option:hover {
  background: #bab8c7;
}

.event-end-times-dropdown {
  cursor: pointer;
  position: absolute;
  top: 4em;
  left: 0em;
  z-index: 6;
  width: 26.35em;
  box-shadow: 0px 0px 3px silver;
  border: 1px solid #A9A8B3;
}

.event-end-times-dropdown option {
  background: white;
  width: 26.35em;
}

.event-end-times-dropdown option:hover {
  background: #bab8c7;
}


#capacity-price-description {
  position: relative;
  top: 10em;
}

#create-event-capacity-input-box {
  display: block;
  position: relative;
  top: 2.7em;
}

#event-price-text {
  position: relative;
  top: -.1em;
  left: .6em;
  line-height: 1.5em;
}

#create-event-price-input-box {
  display: block;
  position: relative;
  top: 2.63em;
  left: 1em;
}

#create-event-description-box {
  height: 10em;
}

#create-event-description-input-box {
  display: block;
  position: relative;
  bottom: 3.2em;
  width: 10em;
  height: 10em;
}

#create-event-description-input {
  position: relative;
  height: 9em;
  top: -2.4em;
  left: -.4em;
  resize: none;
  padding-top: 2em;
  padding-left: 1em;
  font-family: 'Neue Plak';
  font-size: 13px;
  border: none;
  outline: none;
}

#create-event-description-input:focus {
  position: relative;
}















.timestamp-start {
  cursor: pointer;
  background-color: white;
  border: 1px solid #A9A8B3;
}

.event-start-container {
  position: relative;
}

.event-start-time-container {
  cursor: pointer;
  position: relative;
  width: 10em;
  left: 5em;
  background-color: white;
  border: 1px solid #A9A8B3;
}

.hidden {
    display: none;
}



#misc-description {
  position: relative;
  top: 6em;
}

#date-misc-division-hr {
  top: 12em;
}

.misc-description-box {
  position: relative;
  margin-top: 10em;
  top: 1em;
}

.create-event-field-text {
  position: absolute;
  box-sizing: content-box;
  float: left;
  z-index: 1;
  left: 1em;
  top: .6em;
  font-size: .8em;
  font-weight: 500;
  /* COLOR WHEN ERROR: color: #c6162e; */
  color: #6F7386;
  transition: none;
}

.create-event-field-input:focus {
  top: -1.9em !important;
  left: .35em !important;
}





.calendar {
  position: absolute;
}

.react-calendar {
  width: 345px;
  height: 310px;
  max-width: 100%;
  background: white;
  border: 1px solid #cfcfcd;
  box-shadow: 0px 0px 3px silver;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding-top: 1em;
}

/* .react-calendar--doubleView {
  width: 700px;
} */

/* .react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
} */

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 24px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  /* text-transform: uppercase; */
  text-overflow: clip;
  /* font-weight: bold; */
  font-size: .8em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.1em;
}

/* .react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
} */

.react-calendar__month-view__days__day--weekend {
    color: #38364F;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

/* .react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
} */

.react-calendar__tile {
  max-width: 100%;
  padding: 9px .5em;
  font-weight: 600;
  background: none;
  border-radius: 100%;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #006edc;
  filter: brightness(.8);
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}


.whitespace {
  background: white;
  height: 10em;
}

.create-event-button-box {
  display: block;
  position: relative;
  width: 100%;
  height: 4em;
  border: 0;
  border-top: 1px solid #e6e5e5;
  bottom: 1em;
  left: 0em;
  margin-bottom: -1em;
  margin-top: 1em;
}

.create-event-discard-button {
  position: relative;
  left: 85em;
  height: 45px;
  width: 12em;
  font-size: 13px;
  font-weight: 550;
  background: white;
  color: #38364F;
  border: 2px solid #A9A8B3;
  border-radius: 4px;
  transition: filter 700ms;
  margin-right: 1em;
}

.create-event-button {
  position: relative;
  left: 85em;
  height: 45px;
  width: 16em;
  font-size: 13px;
  font-weight: 550;
  background: #d1420a !important;
  color: white;
  border: none;
  border-radius: 4px;
  transition: filter 700ms;
}

.create-event-discard-button:hover {
  cursor: pointer;
  filter: brightness(1.15);
}

.create-event-button:hover {
  cursor: pointer;
  filter: brightness(1.15);
}

#create-event-bottom-fullscreen-hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  /* border-top: 1px solid #bdbdbd; */
  opacity: .3;
  position: relative;
  bottom: 1em;
  margin-bottom: 0em;
}