#search-main {
    font-family: 'Neue Plak'
}

.search-split-left {
    width: 60%;
    height: 50em;
    position: relative;
    left: 0em;
}

#search-input-section-container {
    position: relative;
    width: 100%;
    height: 4em;
}

#search-page-magnifying-glass {
    position: absolute;
    width: 24px;
    height: 24px;
    fill: #a9a8b3;
    top: 0em;
    left: 1em;
    fill: #2c2b2d;
}

#search-input-box {
    position: absolute;
    left: 2.2em;
    top: -.5em;
    width: 45em;
    height: 1em;
    padding: .5em 0 .5em 0;
    font-size: 20px;
    box-shadow: 0 0 1px #fefefe;
}

#search-input-box input {
    position: absolute;
    top: .2em;
    height: 2em;
    width: 65em;
    padding: .5em 0 .5em 0;
}

#search-input-box input::placeholder {
    font-size: 18px;
    font-weight: 800px;
}

#search-page-button {
    position: absolute;
    right: 1em;
    height: 45px;
    width: 9em;
    font-size: 13px;
    font-weight: 550;
    background: white;
    color: #38364F;
    border: 2px solid #A9A8B3;
    border-radius: 4px;
    transition: filter 700ms;
    margin-right: 1em;
  }
  
#search-page-button:hover {
    cursor: pointer;
    filter: brightness(.95);
}

#search-page-hr {
    display: block;
    width: 100%;
    height: 0px;
    border: 0;
    border-bottom: 1.5px solid #bdbdbd;
    opacity: .3;
    position: relative;
    z-index: 10;
    bottom: 1em;
    left: 0em;
    margin: none;
}

#filter-and-search-container {
    width: 100%;
    height: 50em;
    position: relative;
    top: 2em;
}

#clear-search-query-button {
    position: relative;
    display: flex;
    left: 10em;
    top: -2em;
    height: 45px;
    width: 12em;
    font-size: 13px;
    font-weight: 550;
    background: #373737;
    color: white;
    border: 2px solid #373737;
    border-radius: 4px;
    transition: filter 700ms;
    margin-right: 1em;
    text-align: center;
    justify-content: center;
}

#search-query-inner-text {
    position: relative;
    top: 1.2em;
}

.clear-button-greyed-out {
    color: #fefefe;
    color: grey;
    cursor: none;
}

#clear-search-query-button:hover {
    cursor: pointer;
    filter: brightness(1.3);
}

#search-filters-container {
    position: relative;
    width: 17em;
    height: 50em;
}

#search-filters-title {
    position: relative;
    top: .5em;
    left: .5em;
    font-size: 28px;
    font-weight: 600;
    color: #38364F;
}

.search-radio-button-section {
    position: relative;
    top: 2em;
    margin-bottom: 2em;
    height: auto;
    width: 100%;
    color: #38364F;
}

.search-radio-button-title {
    position: relative;
    left: .8em;
    font-size: 15px;
    font-weight: 600;
}

.search-radio-button-title:hover {
    cursor: default;
}

.search-radio-button {
    position: relative;
    left: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 15px;
}

input:checked {
    accent-color: #8d1703;
}

input[type="radio"]:checked:after {
    background-color: #8d1703;
  }

.search-radio-button-label {
    margin-top: 1em;
}

.search-radio-button input {
    transform: scale(1.4);
    position: relative;
    top: .1em;
    left: -.5em;
}

.search-radio-button input:hover {
    cursor:pointer;
}

#search-events-split-middle {
    position: relative;
    top: -42em;
    width: 50.2em;
    left:17.1em;
}

.search-event-tile-link {
    color: #2c2b2d;
}

.search-event-tile {
    position: relative;
    border: .1px solid #fefefe;
    border-radius: 12px;
    height: 13em;
    max-width: 98%;
    margin-bottom: 1em;
    transition: box-shadow 200ms ease-in-out
}

.search-event-tile:hover {
    box-shadow: 0 0 8px rgb(219, 219, 219);
    cursor: pointer;
}

.search-event-tile-photo {
    position: relative;
    top: 1em;
    left: 1em;
    height: 6.8em;
    width: 13.5em;
}

.search-event-tile-title {
    position: relative;
    top: -4.8em;
    left: 14.5em;
    color: #2c2b2d;
    height: 2em;
    width: 27em;
    font-size: 18px;
    font-weight: 500;
}

.search-event-tile-timestanp {
    position: relative;
    top: -6.8em;
    left: 18.7em;
    height: 1em;
    width: 20em;
    font-size: 14px;
    font-weight: 500;
    color: #8d1703;
}

.search-event-tile-location {
    position: relative;
    top: -5.5em;
    left: 16.4em;
    height: 1em;
    width: 20em;
    font-size: 13;
    color: rgb(96, 96, 96);
}

.search-event-tile-price {
    position: relative;
    top: -5.3em;
    left: 18.8em;
    height: 1em;
    width: 20em;
    font-size: 14px;
    font-weight: 500;
    color: #2c2b2d;
}

.search-split-right {
    position: fixed;
    top: 4.8em;
    right: 0em;
    background-image: url('https://i.ibb.co/HtCFRSZ/Screenshot-2023-08-02-at-11-53-09-PM.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 44.6em;
}

.search-event-tile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.search-event-heart-like {
    position: absolute;
    z-index: 10;
    bottom: .9em;
    right: 4.25em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.search-event-heart-like:hover {
    background-color: #f3f3f3;
    cursor:pointer;
}

.search-event-heart-like svg {
    position: absolute;
    z-index: 10;
    top: .1em;
    left: .5em;
    transform: scale(.6)
}

.search-event-heart-like svg:hover {
    transform: brightness(1.1);
    cursor:pointer;
}

#fa-heart-empty {
    height: 28px;
    width: 28px;
    fill: grey;
}

#fa-heart-filled {
    fill: #D1420A;
}

.search-event-empty-heart {
    position: absolute;
    transform: scale(1.2);
    top: .1em;
    left: -.4em;
}

.search-event-filled-heart {
    position: absolute;
    transform: scale(2);
    top: .1em;
    left: -.8em;
}