.show-event-page {
    font-family: 'Neue Plak';
    position: relative;
    top: 5em;
    left: 3em;
}

.show-event-page b {
    font-weight: 600;
}

.show-event-page {
    position: relative;
    left: 5em;
    list-style-type: disc;
    padding-bottom: none;
    margin-bottom: none;
    height: 2em;
}