#splash-main {
    font-family: 'Neue Plak';
}

.splash-banner {
    position: relative;
    top: -5em;
    width: 100%;
    left: 0em;
    background-image: url('https://eventbite-dev.s3.amazonaws.com/splash-banner.jpg');
    width: 75em;
    background-size: contain;
    background-repeat: no-repeat;
    width: 125%;
    height: 44em;
    margin-top: none;
    padding-top: none;
}

.splash-banner button {
    cursor: pointer;
    position: absolute;
    bottom: 1.6em;
    left: 19.5em;
    padding: 1.1em 1.5em;
    background: #8D1703;
    font-family: 'Neue Plak';
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: white;
}

.splash-banner {
    color: white;
    text-decoration: none;
}

#splash-events-container {
    width: 70%;
    margin: 0 15% 0 15%;
    height: 10em;
}

#splash-events-filter {
    height: 2em;
    width: 60%;
}

.splash-events-topic {
    height: 10em;
    width: 100%;
    position: relative;
    top: 3em;
}

.splash-events-topic-title {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -1em;
}
i {
    font-weight: 700;
    color: #8D1703;
}

.splash-events-topic-title svg {
    position: relative;
    top: .6em;
    height: 2em;
    width: 2em;
}

.splash-events-tile-grid {
    position: relative;
    /* padding: 0 1em 0 5em; */
    /* display: flex;
    /* justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column; */
}

.liked-event-tile {
    border: .1px solid #f3f3f3;
}

.splash-event-tile {
    box-shadow: 0 0 3px grey;
    position: relative;
    display: inline-block;
    height: 20em;
    width: 23%;
    margin: 0 .72em 2em .72em;
    transition: box-shadow 200ms ease-in-out
}

.splash-event-tile div {
    position: absolute;
}

.splash-event-tile div:hover {
    cursor: default;
}

.splash-event-tile:hover {
    box-shadow: 0 0 10px grey;
}

.splash-event-tile-photo {
    background-size: contain;
    background-repeat: no-repeat;
    top: 0em;
    height: 8.3em;
    width: 100%;
}

.splash-event-tile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.splash-event-heart-like {
    right: 2.5em;
    top: 7em;
    border: 1px solid rgb(211, 211, 211);
    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    background-color: white;
    transition: all 300ms ease-in-out;
}

.splash-event-heart-like:hover {
    background-color: #f3f3f3;
    transform: brightness(1.2);
    box-shadow: 0 0 2px grey;
    cursor:pointer !important;
}

.splash-event-heart-like svg {
    position: absolute;
    top: .5em;
    left: .5em;
    fill: grey;
    transform: scale(.7)
}

.splash-event-heart-like svg:hover {
    transform: brightness(1.1);
    cursor:pointer;
}

#fa-heart-empty {
    height: 28px;
    width: 28px;
    fill: grey;
}

#fa-heart-filled {
    fill: #650F10 !important;
}

.splash-filled-heart {
    transform: scale(1.7);
    top: -.3em;
    left: -.3em;
}

.splash-event-tile-title {
    top: 9.2em;
    left: 1em;
    color: #2c2b2d;
    height: 2em;
    width: 15em;
    font-size: 18px;
    font-weight: 600;
}

.splash-event-tile-title a{
    color: #2c2b2d;
}

.splash-event-tile-timestamp {
    top: 14.3em;
    height: 1em;
    width: 20em;
    left: 1.2em;
    font-size: 14px;
    font-weight: 500;
    color: #d1420a;
}

.splash-event-tile-location {
    top: 14.5em;
    left: 1em;
    height: 1em;
    width: 94%;
    font-size: 13;
    color: grey;
}

.splash-event-tile-organizer-name {
    top: 19.3em;
    height: 1em;
    width: 20em;
    left: 1.2em;
    font-size: 14px;
    font-weight: 500;
    color: #2c2b2d;
}