@font-face {
    font-family: 'Neue Plak';
    src: url('Neue Plak UltraLight.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./Neue Plak Thin.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./Neue Plak Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./Neue Plak Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./Neue Plak SemiBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./Neue Plak Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./Neue Plak Black.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('./Neue Plak ExtraBlack.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Thin.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text SemiBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Black.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('Neue Plak Text Thin Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Light Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text SemiBold Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Bold Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Plak Text';
    src: url('./Neue Plak Text Black Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('Neue Plak Condensed UltraLight.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./Neue Plak Condensed Thin.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./Neue Plak Condensed Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./Neue Plak Condensed Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./Neue Plak Condensed SemiBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./Neue Plak Condensed Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./Neue Plak Condensed Black.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Neue Plak Condensed';
    src: url('./Neue Plak Condensed ExtraBlack.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('Neue Plak Extended UltraLight.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./Neue Plak Extended Thin.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./Neue Plak Extended Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./Neue Plak Extended Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./Neue Plak Extended SemiBold.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./Neue Plak Extended Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./Neue Plak Extended Black.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Neue Plak Extended';
    src: url('./Neue Plak Extended ExtraBlack.ttf') format('truetype');
    font-weight: 800;
}

