#order-index-main {
    font-family: 'Neue Plak';
    /* position: relative; */
}

#order-index-centered {
    position: relative;
    border: 1px solid black;
    height: 40em;
    width: 72%;
    box-shadow: inset 0 0 60px #eff1f2;
    margin: 0% 14% 0% 14%;
}

#order-index-name-tile {
    position: relative;
    border: 1px solid black;
    top: 3.5em;
    left: 3.2em;   
    height: 8em;
    width: 24em;
}

#order-index-user-photo {
    position: absolute;
    border: 1px solid red;
    height: 8em;
    width: 8em;
}

#order-index-name-tile-name {
    position: absolute;
    top: .8em;
    z-index: 1;
    left: 5em;
    border: 1px solid blue;
    font-size: 24px;
    height: 2em;
    width: 10em;
    font-size: 30px;
    font-weight: 600;
    color: #1E0A3B;
}

.order-index-orders-likes {
    position: absolute;
    font-size: 14px;
    color: #4A4D62;
}

#order-index-orders-count {
    top: 5.1em;
    left: 10.8em;
}

#order-index-likes-dot {
    position: absolute;
    top: 4.4em;
    left: 12.3em;
    font-weight: 600;
}

#order-index-likes-count {
    top: 5.1em;
    left: 15em;
}

#order-index-container {
    position: relative;
    border: 1px solid black;
    left: 28.5em;
    top: 7em;
    width: 52em;
}

#orders-title-box{
    font-weight: 500;
    font-size: 18px;
    color: #1E0A3B;
    margin-bottom: 2em;
}

.order-index-event-tile {
    position: relative;
    border: 1px solid orange;
    width: 40em;
    height: 12em;
}

.order-index-event-tile div {
    position: relative;
}

.order-index-tile-photo {
    border: 1px solid black;
    left: 3em;
    top: -.4em;
    width: 24em;
    height: 10em;
}

.order-tile-date-small {
    position: absolute;
    border: 1px solid blue;
    height: 2em;
    width: 2em;
    top: -11.5em; 
    left: .3em;
}

.order-tile-date-month {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #D1420A;
    margin-bottom: .5em;
}

.order-tile-date-day {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #6F7386;
}

.order-index-tile-link {
    position: relative;
    display: block;
    border: 1px solid black;
    height: 2.2em;
    width: 7.1em;
    top: -12em;
    left: 29em;
}

.order-index-tile-title {
    position: absolute;
    height: 2.2em;
    width: 7.1em;
    font-size: 26px;
    font-weight: 500;
    color: #1E0A3B;
}

.order-tile-timestamp {
    position: relative;
    border: 1px solid blue;
    height: 1em;
    width: 5em;
    color: grey;
}

.order-tile-order-price-date {
    position: relative;
    border: 1px solid blue;
    height: 1em;
    width: 5em;
    color: grey;
}
