

main {
    font-family: 'Neue Plak';
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.split-left {
    left: 0;
    position: absolute;
}

.split-right {
    right: 0;
}

.auth-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#eblogo-auth img {
    max-width: 160px;
    position: absolute;
    top: -17.1em;
    left: -1em;
}

.login-image {
    background-image: url('https://i.ibb.co/Qp4jyky/Screenshot-2023-07-26-at-1-38-15-PM.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 912px;
    width: 925px;
}

#signup-signin-h1 {
    position: absolute;
    left: .1em;
    top: -3.5em;
    font-size: 52px;
    font-weight: 700;
    text-align: left;
}

#create-account {
    text-align: left;
    line-height: 1.2em;
}

.auth-input-box {
    position: relative;
    height: 45px;
    width: 365px;
    border: 1px solid #dbdae2;
    border-radius: 2px;
}

.auth-input-box:hover {
    border: 1px solid #bab8c7;
    cursor: text;
}

.active-div {
    border: 2px solid #676974 !important;
}

.signup-signin-field-title {
    position: absolute;
    float: left;
    z-index: 1;
    left: 1em;
    top: .4em;
    font-size: .8em;
    color: #6F7386;
    transition: none;
}


.active-input {
    color: #1b31db !important;
}

.signup-signin-field-input {
    position: absolute;
    left: .7em;
    bottom: .5em;
    width: 15em;
    border: 1px solid none;
    color: black;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.auth-button {
    height: 45px;
    width: 365px;
    font-size: 13px;
    font-weight: 550;
    background: #8d1703;
    color: white;
    border: none;
    border-radius: 4px;
    transition: filter 700ms;
}

.auth-button:hover {
    cursor: pointer;
    filter: brightness(1.15);
}

.signup-signin-switch {
    text-align: left;
    width: 10em;
    position: absolute;
    top: 20em;
    font-size: 14px;
}

.signup-signin-switch a {
    font-weight: 500;
}
.error-div {
    border: 1px solid #c6162e;
}

.error-div:hover{
    border: 1px solid #c6162e;
}

.error-text {
    color: #c6162e;
}

.login-errors {
    position: relative;
    top: 0em;
    left: 1.5em;
    text-align: center;
    font-size: 16px;
}

.email-errors {
    position: relative;
    top: 2.4em;
    left: 2em;
    text-align: left;
    font-size: 13px;
}

.pw-errors {
    position: relative;
    top: 2.4em;
    left: 2em;
    text-align: left;
    font-size: 13px;
}